@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    background: #fff;
    padding: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul li a{
    color: rgb(29, 29, 29);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #ff6347;
}

#Login{
    background-color: #ff6347;
    padding: 0.5rem 1rem;
    color: #fff;
}
#Cadastro{
    background-color: #232724;
    padding: 0.5rem 1rem;
    color: #fff;
}
#logo-site img {

    height: 40px;
    width: auto;
    display: block;
}
#dynamicMenus {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
main{
    padding: 2rem;
    text-align: center;
}
main h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
main p{
    font-size: 1.2rem;
    color: #555;
}
footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}